/* common shared styles*/

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.all-button{
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/*nav related styles*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 70px;
}
.orange{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 50px;
    list-style: none;
}
nav a{
    color: var(--dark-02, #474747);
    text-decoration: none;
}