/* common shared styles*/

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.all-button {
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 827px;
}

/*nav related styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 70px;
}

.orange {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    color: #474747;
    text-decoration: none;
}

/* header realated styles */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
    margin-left: 50px;
}

.banner .profile-pic {
    width: 500px;
    margin-right: 50px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-descrip {
    margin-bottom: 20px;
    font-size: 18px;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
}

.about-info {
    text-align: center;
}

.info-title {
    font-weight: 20;
}

.info-description {
    font-weight: 700;
}

/* what i do styles */

.what-i-do-sec {
    border-radius: 10px;
    margin: 130px 0;
}

#what-i-do-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 909px;
    margin-left: 120px;
}

.what-i-do-boxes {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.what-i-do-container {
    width: 267px;
    height: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 30px;
    margin: 0 16px;
}

.img-holder {
    width: 44px;
    height: 44px;
}

.headline-holder {
    padding-right: 60px;
}

.para-holder {
    color: #757575;
    font-weight: 10;
    width: 201px;
}

/* resume styles*/
.column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 60px;
}

.column-items-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.column-items-uni {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.column-items-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 500px;
}

#summary-title {
    text-align: center;
    margin-bottom: 80px;
}

.resume-sec {
    padding-bottom: 20px;
}

#resume-button {
    margin: 50px 0 100px 468px;
}

/* footer styles */

footer {
    background: #FFF8F3;
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}

.footer-column {
    display: block;
    width: 50%;
    padding-right: 200px;
}

#link-title{
    margin-top: 10px;
}

.footer-column-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 562px;
    text-align: left;
    margin: 0 0 30px 290px;
}

.contact input[type="text"], input[type="email"], 
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border: 0;
    border-radius: 5px;
    background: #FFF;

}
.contact{
    padding-left: 227px;
}

.contact-input {
    width: 461px;
    height: 64px;
}

.contact-text {
    width: 461px;
    height: 180px;
}
.social-links{
    padding-left: 285px;
}
.social-links a{
    margin-right: 25px;
}